@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* fonts end */
* {
  margin: 0;
  font-family: "Work Sans";
}
body {
  margin: 0 130px;
}
.primary {
  padding: 20px 25px;
  background-color: #ff900e;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
}
.p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
/* utility end */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  gap: 75px;
}
.menu a {
  text-decoration: none;
  color: #424242;
}
/* menu end */
section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 130px;
}
.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.page-title h1 {
  font-weight: 700;
  font-size: 64px;
}

.banner {
  margin-top: 50px;
}
.banner img {
  width: 100dvw;
}
/* landing page end */
.feature {
  margin: 130px 140px;
}
.feature > div {
  width: 704px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.feature-img {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.feature-img img {
  object-fit: contain;
}
.feature-title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.feature-title h1 {
  font-weight: 500;
  font-size: 45px;
}
.feature-title p {
  width: 537px;
  text-align: left;
}
/* feature end */
.description {
  display: flex;
  flex-direction: row;
  gap: 100px;

  justify-content: center;
  align-items: center;
}
.description > p {
  max-width: 514px;
  word-wrap: normal;
}
.description-about {
  max-width: 514px;
}

.description-title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 20px;
}
.description-box {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  margin-top: 20px;
  max-width: 514px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.description-abouts > p {
  width: 586px;
}
.description-title > .p {
  margin-bottom: 20px;
  width: 514px;
}

.description-box h1 {
  word-wrap: normal;
  font-weight: 600;
  font-size: 20px;
}
.decription-img img {
  width: 613px;
  height: 850px;
}
.facts-title h1{
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin: 24px;
  
}
.box{
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 10px;
  align-items: center;
  padding: 35px;
  border: #ff900e solid;
  border-width: 1px;
  border-radius: 8px;
  margin-top: 100px;
  
}
.acomplishment{
  display: flex;
  justify-content: space-around;
  gap: 62.5px;
}
.sponsers{
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.sponser-title h1 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}
.sponser-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  
}

.sponser-logo img {
  width: 20%;
  max-width: 100px;
  height: auto;
}
footer div{
  text-align: center;
  background-color: #FFF4E7;
  padding: 34px;
  margin: 130px 20px;

}
