@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* fonts end */
* {
  margin: 0;
  font-family: "Work Sans";
}
section {
  margin: 0px 140px;
}
.primary {
  padding: 20px 25px;
  background-color: #ff900e;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
}
.p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
/* utility end */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  gap: 75px;
}
.menu a {
  text-decoration: none;
  color: #424242;
}
/* menu end */
section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 130px;
}
.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.page-title h1 {
  font-weight: 700;
  font-size: 64px;
}

.banner {
  margin-top: 50px;
}
.banner img {
  width: 100%;
}
/* landing page end */
.feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 75px;
}
.feature-img {
  
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.feature-title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.feature-title h1 {
  font-weight: 500;
  font-size: 45px;
}
.feature-title p {
  width: 537px;
  text-align: left;
}
/* feature end */
.description{
  display: flex;
  flex-direction: row;
  gap: 100px;
  
  justify-content: center;
  align-items: center;
}
.description>p{
  max-width: 514px;
  word-wrap: normal;
}
.description-about{
  max-width: 514px;
}

.description-title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 20px;
  
}
.description-box{
  background-color: #9c0b0b;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 20px;
  max-width: 514px;
  

}
.description-title>.p{
  margin-bottom: 20px;
  width: 514px;
  
}

.description-box h1{
  word-wrap: normal;
  font-weight: 600;
font-size: 20px;

}
.decription-img img{
  width: 613px;
  height: 850px;
}
